.menu1 ul{
	position: absolute;
	z-index: 999;
}

.break{
	clear: both;
	height: 10px;
	width: 100%;
	margin:auto;
	border-bottom: 1px solid #EEEEEE;
}

.break90{
	clear: both;
	height: 10px;
	width: 90%;
	margin:auto;
	border-bottom: 1px solid #EEEEEE;
}

.space20{
	height: 20px;
	width: 100%;
}


.row-item{
	padding-left:15px;
}

.border-left{
	border-left: 1px solid #EEEEEE;
}

.border-right{
	border-right: 1px solid #EEEEEE;
}

a{
	color:black;
}

a:hover{
	text-decoration: none;
}

.myheader{
	background-color: #337AB7;
	color:white;
}

.clear{
	clear:both;
}
.row{
	margin-right: 0px!important;
	margin-left: 0px!important
}
.navbar-inverse .navbar-nav>li>a {
    color: #edeff2;
}
.navbar-inverse .navbar-brand {
    color: #edeff2;
    text-transform: uppercase;
}
.cmt{
	color: #2424ff;
}
.mb-50{
	margin-bottom: 50px;
}
